.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#project {
  background-color: #e2edff;
}
.galery-img {
  width: 100%;
}

#galery .row > * {
  padding: 0;
}

section {
  padding-top: 5rem;
}
